# Çevresel Değişkenler ve Şifreler (KRİTİK)
.env
settings.json

# Veritabanı Dosyaları
*.db
*.sqlite3

# Kullanıcı Yüklemeleri (Medyalar vs.)
uploads/

# Python ve Sanal Ortam
__pycache__/
.venv/
venv/

# IDE (PyCharm Ayarları)
.idea/
# Flask/Django özel (Az önce kullandığımız klasör)
instance/

# Log dosyaları (Uygulama çalışırken oluşan kayıtlar)
*.log

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
